.nav-container {
  background-color: #FADBD8;

  .custom-nav {
    height: 100%;
    padding: 0;
  }

  .image-logo {
    height: 30px;
    width: 30px;
    background-size: contain;
    background-image: url('../../images/play.png');
    display: inline-block;
  }

  .navbar-brand {
    display: none;
  }

  .navbar-nav a {
    background: #FADBD8;
  }

  #responsive-navbar-nav {
    border-top: 1px solid #D98880;
  }

  .navbar-toggler, .navbar-toggler:focus {
    border: none;
    outline: none;
  }

  @media (min-width: 481px) {
    #responsive-navbar-nav, button {
      display: none !important;
    }

    .navbar-brand {
      display: block;
    }
  }
}