.nav-container {
  background-color: #FADBD8;
  height: 50px;

  .custom-nav {
    height: 100%;
    padding: 0;
  }

  .image-logo {
    height: 30px;
    width: 30px;
    background-size: contain;
    background-image: url('../../images/play.png');
    display: inline-block;
  }

  @media (min-width: 481px) {
    #responsive-navbar-nav, button {
      display: none !important;
    }
  }
}