.home-page-container {

  color: #5D6D7E;

  ._loading_overlay_wrapper {
    height: 100%;
  }

  .react-bootstrap-table {
    height: 100%;
    overflow: auto;
    font-size: 12px;
  }

  .react-bootstrap-table a {
    margin: auto;
  }

  input.form-control:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
  }

  .input-group-append button {
    border: 1px solid #ced4da;
  }

  .btn-group-sm>.btn, .btn-sm {
    line-height: 1;
    margin: auto;
  }

  @media only screen and (min-width: 481px) {
    table.table-bordered {
      border: 1px solid #5D6D7E;
    }

    thead {
      background: #D98880;
    }

    tr:nth-child(even) {
      background: #F8F9F9;
    }

    .page-item .page-link {
      background: #FDEDEC;
      color: #5D6D7E;
      border: none;
    }

    .page-item.active .page-link {
      background: #D98880;
      color: #5D6D7E;
      border: none;
    }
  }

}