.tax-page-container {

  min-width: 320px;

  .container {
    padding-left: 0;
    padding-right: 0;
  }


  .button-calculate, .button-calculate:hover {
    background-color: #D98880;
    border: none;
    color: #000;

    h3 {
      margin-bottom: 0;
    }
  }

  .income-result {
    h3 {
      margin-bottom: 0;
      line-height: 2;
      font-weight: 300;
    }

    h6 {
      margin-bottom: 0;
      line-height: 3;
    }

    .row {
      width: 100%;
      margin: auto;
    }

    .row:nth-child(even) {
      background: #F8F9F9;
    }
  }

  .btn-primary:disabled {
    cursor: not-allowed;
  }

  .btn-primary:disabled:hover {
    opacity: 0.65;
  }

  .nav-button {
    button {
      background-color: #D2B4DE;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }

    button:focus, button:active, button:visited {
      outline: none;
      box-shadow: none;
    }

    .nav-button-card {
      border: none;
    }

    h3 {
      margin-bottom: 0;
      font-weight: 300;
      color: #566573;
    }

    .nav-button-arrow {
      display: none;
    }
  }


  @media (min-width: 768px) {
    .nav-button {
      height: 100%;

      .nav-button-card {
        border: none;
        height: 100%;
        background: transparent;
        box-shadow: none;
      }

      button {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 48px;
        background-color: #D2B4DE;
        border: none;
        margin: auto;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
      }
      
      h3 {
        display: none;
      }

      .nav-button-arrow {
        display: block;
      }
    }

  }
}