.tax-page-container {

  min-width: 320px;

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .tax-calculator {
    border: none;
  }

  .button-calculate, .button-calculate:hover {
    background-color: #D98880;
    border: none;
    color: #000;

    h3 {
      margin-bottom: 0;
    }
  }

  .income-result {
    h3 {
      margin-bottom: 0;
      line-height: 2;
      font-weight: 300;
    }

    h6 {
      margin-bottom: 0;
      line-height: 3;
    }
  }

  .btn-primary:disabled {
    cursor: not-allowed;
  }

  .btn-primary:disabled:hover {
    opacity: 0.65;
  }
}