.home-page-container {

  ._loading_overlay_wrapper {
    height: 100%;
  }

  .react-bootstrap-table {
    height: 100%;
    overflow: auto;
    font-size: 12px;
  }
  
  .search-disabled {
    cursor: not-allowed;
    background: #ffffff;
  }

  input.form-control:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
  }

  .input-group-append button {
    border: 1px solid #ced4da;
  }

  .custom-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}