.sidebar-container {
  display: none;
  min-height: 100vh;

  .sidebar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #273746;
    padding-left: 0;
    margin-bottom: 0;
  }

  .nav-link, .nav-link:hover {
    color: #909497;
  }

  .login-button{
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .login-button button {
    color: #F4D03F;
  }

  @media only screen and (min-width: 481px) {
    display: block;
  }

}