.responsive-table-container {

  .card {
    margin-bottom: 10px;
    font-size: 2vh;
    background: #F8F9F9;
  }

  .row {
    border-bottom: 1px solid #EBEDEF;
  }

  .card-body .row:last-child {
    border: none;
  }
}