.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body > #root > div {
  background-color: #FDEDEC;
}

#body-row {
  height: 100vh;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.col-sm-1 {
  flex: 0 0 64px !important;
  max-width: 64px !important;

  @media only screen and (max-width: 480px) {
    display: none;
  }
}

.col-sm-11 {
  flex: 1 !important;
}
