.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body > #root > div {
  background-color: #FDEDEC;
}

#body-row {
  height: 100vh;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.container {
  height: 100%;
}

.col-sm-11 .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.loading-container {
  height: 100vh;
}

.col-sm-1 {
  flex: 0 0 64px !important;
  max-width: 64px !important;
  display: none;

  @media only screen and (min-width: 481px) {
    display: block;
  }

}

.col-sm-11 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100% !important;
  flex: 1 !important;

  @media only screen and (min-width: 481px) {
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

#body-row {

  .disabled-input {
    cursor: not-allowed;
    background: #ffffff;
  }

  .custom-button, .btn-primary:disabled {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #D98880;
    border: none;
    color: #34495E;
  }

  .btn-primary:hover, .btn-primary:focus {
    background: #D98880;
    border: none;
    opacity: 0.5;
  }
}


